Repository opensearch-project/dashboards-observability, pull requests merged in 2023-08, with the labels that each got.

#772 Add AWS ELB Integration
  server/adaptors/integrations/__data__/repository/aws_elb/assets/aws_elb-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_elb/info/INGESTION.md
  server/adaptors/integrations/__data__/repository/aws_elb/info/README.md
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/aws_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/url-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/static/dashboard1.png
  server/adaptors/integrations/__data__/repository/aws_elb/static/logo.svg
  server/adaptors/integrations/__data__/repository/nginx/static/logo.svg
Labels: integration

#754 Add Apache Integration
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/assets/apache-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/apache/data/sample.json
  server/adaptors/integrations/__data__/repository/apache/info/INGESTION.md
  server/adaptors/integrations/__data__/repository/apache/info/README.md
  server/adaptors/integrations/__data__/repository/apache/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/static/dashboard1.png
  server/adaptors/integrations/__data__/repository/apache/static/logo.png
Labels: integration

#787 Fix broken Nginx Integration data volume panel
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.1.ndjson
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.1.json
Labels: integration

#804 [BACKPORT] Nginx Data Volume to 2.x
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.1.ndjson
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.1.json
Labels: integration

#803 [BACKPORT] Nginx Data Volume to 2.9
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/nginx/assets/nginx-1.0.1.ndjson
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.1.json
Labels: integration

#811 Updated link in sourceURL
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
Labels: bug, integration

#782 Make integration category and template lists dynamic
  common/constants/integrations.ts
  public/components/integrations/components/added_integration_table.tsx
  public/components/integrations/components/available_integration_overview_page.tsx
Labels: bug, backport 2.x, integration, backport 2.9

#809 Re-apply fix for VPC type
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__test__/local_repository.test.ts
Labels: bug, integration

#713 Integrations base path fix
  public/components/integrations/components/add_integration_flyout.tsx
  public/components/integrations/components/available_integration_card_view.tsx
  public/components/integrations/components/available_integration_overview_page.tsx
  public/components/integrations/components/integration.tsx
  public/components/integrations/components/integration_screenshots_panel.tsx
Labels: bug, backport 2.x, integration, backport 2.9

#781 Fix integration removal timing
  public/components/integrations/components/added_integration_overview_page.tsx
  public/components/integrations/components/added_integration_table.tsx
Labels: bug, integration

#807 Nginx Integration Panel Fix: Re-apply link removal
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__test__/local_repository.test.ts
Labels: bug, backport 2.x, integration, backport 2.9

#826 Remove dependence on integrations variable
  public/components/integrations/components/added_integration_table.tsx
Labels: bug, integration

#818 Fix index name collisions on integration sample creation.
  public/components/integrations/components/integration.tsx
Labels: bug, backport 2.x, integration, backport 2.9

#822 Changed log mappings to be apache-specific
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs-apache-1.0.0.mapping.json
Labels: integration

#821 Changed logs mappings to be logs-elb
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs-elb-1.0.0.mapping.json
Labels: integration

#825 update index template to avoid name collisions
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs_apache-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/README.md
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/logs_vpc-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/s3-1.0.0.mapping.json
Labels: bug, backport 2.x, integration, backport 2.9, autocut

#779 Aws cloudfront integration
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/aws_cloudfront-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudfront/aws_cloudfront-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/data/sample.txt
  server/adaptors/integrations/__data__/repository/aws_cloudfront/info/README.md
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/aws_cloudfront-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/logs-aws_cloudfront-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_cloudfront/static/logo.png
Labels: integration

#788 aws WAF integration
  .env
  server/adaptors/integrations/__data__/repository/aws_waf/assets/aws_waf-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples-raw.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples.json
  server/adaptors/integrations/__data__/repository/aws_waf/info/README.md
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/logs_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_waf/static/logo.jpg
Labels: backport 2.x, integration, backport 2.9, autocut

#773 Aws cloudtrail Integration
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/aws_cloudtrail-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/aws_cloudtrail-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/data/samples-large.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/data/samples.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/info/README.md
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/aws_cloudtrail-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/logs-aws_cloudtrail-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/static/logo.png
Labels: backport 2.x, integration, backport 2.9, autocut

#756 aws s3 integration
  server/adaptors/integrations/__data__/repository/aws_s3/assets/aws_s3-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_s3/aws_s3-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_s3/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_s3/info/README.md
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/logs_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_s3/static/logo.png
Labels: backport 2.x, integration, backport 2.9, autocut

#853 Modified Integrations Description
  public/components/integrations/components/__tests__/__snapshots__/integration_header.test.tsx.snap
  public/components/integrations/components/integration_header.tsx
Labels: backport 2.x, backport 2.9

#852 update readme with the integration related info
  README.md
Labels: documentation, integration

#858 Change unapplied category filter to empty instead of x
  public/components/integrations/components/available_integration_overview_page.tsx
Labels: backport 2.x, backport 2.9

#863 Fix failing CI
  .github/workflows/backport.yml
  public/components/metrics/sidebar/__tests__/__snapshots__/searchbar.test.tsx.snap
  public/components/metrics/sidebar/__tests__/__snapshots__/sidebar.test.tsx.snap
Labels: testing

#851 consolidate aws_s3 schema
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_s3-1.0.0.mapping.json
Labels: documentation, backport 2.x, integration, backport 2.9, autocut, schema

#850 consolidate http schema
  server/adaptors/integrations/__data__/repository/nginx/schemas/http-1.0.0.mapping.json
Labels: documentation, backport 2.x, integration, backport 2.9, autocut, schema

#884 Speed up unit testing CI by updating maxWorkers setting
  .github/workflows/dashboards-observability-test-and-build-workflow.yml
Labels: testing

#878 Backport ELB and VPC changes to 2.9
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/README.md
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/logs_vpc-1.0.0.mapping.json
Labels: integration

#879 Backport ELB and VPC changes to 2.x
  server/adaptors/integrations/__data__/repository/aws_elb/assets/aws_elb-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_elb/info/INGESTION.md
  server/adaptors/integrations/__data__/repository/aws_elb/info/README.md
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/aws_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/url-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/static/dashboard1.png
  server/adaptors/integrations/__data__/repository/aws_elb/static/logo.svg
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/README.md
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/logs_vpc-1.0.0.mapping.json
Labels: backport 2.x, integration

#876 Copy latest Apache version to 2.9
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs_apache-1.0.0.mapping.json
Labels: integration, backport 2.9

#877 Copy latest Apache version to 2.x
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/assets/apache-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/apache/data/sample.json
  server/adaptors/integrations/__data__/repository/apache/info/INGESTION.md
  server/adaptors/integrations/__data__/repository/apache/info/README.md
  server/adaptors/integrations/__data__/repository/apache/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs_apache-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/static/dashboard1.png
  server/adaptors/integrations/__data__/repository/apache/static/logo.png
Labels: integration

#886 Add release notes for 1.3.12
  release-notes/dashboards-observability.release-notes-1.3.12.md
Labels: backport 2.x, backport main

#857 Add _refresh call to sync component creation before index creation
  public/components/integrations/components/integration.tsx
Labels: bug, backport 2.x, integrations, backport 2.9

#891 update raw data
  server/adaptors/integrations/__data__/repository/aws_cloudfront/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/data/sample.txt
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/data/samples-large.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/data/samples.json
  server/adaptors/integrations/__data__/repository/aws_s3/data/sample.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples-raw.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples.json
Labels: documentation, backport 2.x, integrations, backport 2.9

#829 K8s integration
  .husky/pre-commit
  server/adaptors/integrations/__data__/repository/k8s/assets/README.md
  server/adaptors/integrations/__data__/repository/k8s/assets/k8s-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/k8s/data/sample-container-cpu-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-container-memory-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-deployment-name.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-node-cpu-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample.json
  server/adaptors/integrations/__data__/repository/k8s/info/README.md
  server/adaptors/integrations/__data__/repository/k8s/ingestion/README.md
  server/adaptors/integrations/__data__/repository/k8s/ingestion/fluent-bit.yaml
  server/adaptors/integrations/__data__/repository/k8s/k8s-1.0.0.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/container-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/logs-k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/static/dashboard.png
  server/adaptors/integrations/__data__/repository/k8s/static/logo.png
Labels: backport 2.x, integrations, backport 2.9, autocut

#846 consolidate cloud schema to match all across
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/cloud-1.0.0.mapping.json
Labels: documentation, backport 2.x, integrations, backport 2.9, integrations-schema

#901 Make OSD Bootstrap more sturdy in CI
  .github/workflows/dashboards-observability-test-and-build-workflow.yml
Labels: infrastructure

#906 Backport WAF integration to 2.x
  server/adaptors/integrations/__data__/repository/aws_waf/assets/aws_waf-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples.json
  server/adaptors/integrations/__data__/repository/aws_waf/info/README.md
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/logs_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_waf/static/logo.jpg
Labels: integrations

#905 Backport WAF integration to 2.9
  server/adaptors/integrations/__data__/repository/aws_waf/assets/aws_waf-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_waf/data/samples.json
  server/adaptors/integrations/__data__/repository/aws_waf/info/README.md
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/logs_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/static/dashboard.png
  server/adaptors/integrations/__data__/repository/aws_waf/static/logo.jpg
Labels: integrations

#916 add k8s integration to 2.9
  server/adaptors/integrations/__data__/repository/k8s/assets/README.md
  server/adaptors/integrations/__data__/repository/k8s/assets/k8s-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/k8s/data/sample-container-cpu-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-container-memory-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-deployment-name.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample-node-cpu-usage.json
  server/adaptors/integrations/__data__/repository/k8s/data/sample.json
  server/adaptors/integrations/__data__/repository/k8s/info/README.md
  server/adaptors/integrations/__data__/repository/k8s/ingestion/README.md
  server/adaptors/integrations/__data__/repository/k8s/ingestion/fluent-bit.yaml
  server/adaptors/integrations/__data__/repository/k8s/k8s-1.0.0.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/container-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/logs-k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/static/dashboard.png
  server/adaptors/integrations/__data__/repository/k8s/static/logo.png
Labels: backport 2.x, integrations, v2.9.0

#917 add docker-compose.yml testing and readme for integration to 2.9
  .env
  DEVELOPER_GUIDE.md
  README.md
  Using-Docker.md
  docker-compose.yml
Labels: documentation, backport 2.x, integrations, v2.9.0, backport 2.9

#922 align all schema mapping with labels metadata
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/apache/schemas/logs_apache-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/aws_cloudfront-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/aws_cloudfront-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudfront/schemas/logs-aws_cloudfront-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/aws_cloudtrail-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/aws_cloudtrail-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/schemas/logs-aws_cloudtrail-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/aws_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/logs_elb-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/url-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_rds/aws_rds-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_rds/schemas/aws_rds-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_rds/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_rds/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_rds/schemas/logs_rds-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/aws_s3-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_s3/schemas/logs_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/aws_vpc_flow-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/logs_vpc-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/schemas/s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_s3-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/aws_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/aws_waf/schemas/logs_waf-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/k8s-1.0.0.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/cloud-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/container-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/k8s/schemas/logs-k8s-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/schemas/communication-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/nginx/schemas/http-1.0.0.mapping.json
  server/adaptors/integrations/__data__/repository/nginx/schemas/logs-1.0.0.mapping.json
  server/adaptors/integrations/types.ts
  server/adaptors/integrations/validators.ts
Labels: backport 2.x, backport main, integrations, autocut, integrations-schema

#934 Fix one more missing label change
  public/components/integrations/components/__tests__/__snapshots__/added_integration.test.tsx.snap
  public/components/integrations/components/__tests__/__snapshots__/available_integration_table_view.test.tsx.snap
  public/components/integrations/components/__tests__/__snapshots__/integration_details.test.tsx.snap
  public/components/integrations/components/available_integration_table.tsx
Labels: integrations

#943 Refactor integration validation logic with a cleaner interface
  server/adaptors/integrations/__test__/local_repository.test.ts
  server/adaptors/integrations/__test__/validators.test.ts
  server/adaptors/integrations/repository/__test__/integration.test.ts
  server/adaptors/integrations/repository/integration.ts
  server/adaptors/integrations/validators.ts
Labels: integrations, maintenance

#950 update logo related snapshots due to upstream changes
  public/components/application_analytics/__tests__/__snapshots__/log_config.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/service_config.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/trace_config.test.tsx.snap
  public/components/custom_panels/__tests__/__snapshots__/custom_panel_view.test.tsx.snap
  public/components/custom_panels/panel_modules/panel_grid/__tests__/__snapshots__/panel_grid.test.tsx.snap
  public/components/metrics/view/__tests__/__snapshots__/metrics_grid.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/dashboard.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/traces.test.tsx.snap
Labels: backport 2.x

#953 Fix all yarn lints for server directory
  common/constants/notebooks.ts
  package.json
  server/adaptors/custom_panels/custom_panel_adaptor.ts
  server/adaptors/notebooks/default_backend.ts
  server/adaptors/notebooks/index.ts
  server/adaptors/ppl_datasource.ts
  server/common/helpers/notebooks/default_notebook_schema.ts
  server/common/helpers/notebooks/query_helpers.ts
  server/common/helpers/notebooks/sample_notebooks.ts
  server/common/helpers/notebooks/wreck_requests.ts
  server/common/metrics/metrics_helper.ts
  server/common/metrics/types.ts
  server/common/types/index.ts
  server/routes/application_analytics/app_analytics_router.ts
  server/routes/custom_panels/panels_router.ts
  server/routes/dsl.ts
  server/routes/index.ts
  server/routes/metrics/metrics_rounter.ts
  server/routes/notebooks/noteRouter.ts
  server/routes/notebooks/paraRouter.ts
  server/routes/notebooks/sqlRouter.ts
  server/routes/ppl.ts
  server/services/facets/dsl_facet.ts
  server/services/facets/ppl_facet.ts
  server/services/queryService.ts
  yarn.lock
Labels: maintenance

#960 Update mocha
  package.json
  yarn.lock
Labels: maintenance

#514 trace analytics collapse dashboard queries, align naming to industry conventions
  .cypress/integration/4_trace_analytics_dashboard.spec.js
  .cypress/integration/5_trace_analytics_services.spec.js
  .cypress/integration/6_trace_analytics_traces.spec.js
  .cypress/integration/7_app_analytics.spec.js
  .cypress/utils/constants.js
  public/components/application_analytics/__tests__/__snapshots__/create.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/service_config.test.tsx.snap
  public/components/application_analytics/components/application.tsx
  public/components/trace_analytics/components/common/helper_functions.tsx
  public/components/trace_analytics/components/common/plots/__tests__/__snapshots__/service_map.test.tsx.snap
  public/components/trace_analytics/components/common/plots/__tests__/__snapshots__/service_map_scale.test.tsx.snap
  public/components/trace_analytics/components/common/plots/service_map.tsx
  public/components/trace_analytics/components/common/plots/service_map_scale.tsx
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/dashboard.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/dashboard_table.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/top_error_rates_table.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/top_latency_table.test.tsx.snap
  public/components/trace_analytics/components/dashboard/dashboard_content.tsx
  public/components/trace_analytics/components/dashboard/dashboard_table.tsx
  public/components/trace_analytics/components/dashboard/top_error_rates_table.tsx
  public/components/trace_analytics/components/dashboard/top_groups_page.tsx
  public/components/trace_analytics/components/dashboard/top_latency_table.tsx
  public/components/trace_analytics/components/services/__tests__/__snapshots__/service_view.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services_table.test.tsx.snap
  public/components/trace_analytics/components/services/service_view.tsx
  public/components/trace_analytics/components/services/services.tsx
  public/components/trace_analytics/components/services/services_content.tsx
  public/components/trace_analytics/components/services/services_table.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/traces.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/traces_table.test.tsx.snap
  public/components/trace_analytics/components/traces/traces.tsx
  public/components/trace_analytics/components/traces/traces_table.tsx
  public/components/trace_analytics/home.tsx
  public/components/trace_analytics/requests/dashboard_request_handler.ts
  public/components/trace_analytics/requests/request_handler.ts
  public/components/trace_analytics/trace_side_nav.tsx
  test/constants.ts
Labels: backport 2.x
