Repository opensearch-project/dashboards-observability, pull requests merged in 2024-04, with the labels that each got.

#1669 Convert cache to session storage
  public/framework/catalog_cache/cache_manager.test.tsx
  public/framework/catalog_cache/cache_manager.ts
Labels: bug

#1653 prevent logged out datasources call
  opensearch_dashboards.json
  public/plugin.tsx
  public/types.ts
Labels: bug, backport 2.x

#1672 [Backport 2.x] prevent logged out datasources call (#1653)
  opensearch_dashboards.json
  public/plugin.tsx
  public/types.ts
Labels: bug

#1675 (query assist) update styles for callout and combo box
  public/components/common/search/__tests__/__snapshots__/search.test.tsx.snap
  public/components/common/search/date_picker.tsx
  public/components/common/search/query_area.tsx
  public/components/common/search/search.tsx
  public/components/event_analytics/explorer/query_assist/__tests__/__snapshots__/callouts.test.tsx.snap
  public/components/event_analytics/explorer/query_assist/__tests__/callouts.test.tsx
  public/components/event_analytics/explorer/query_assist/__tests__/input.test.tsx
  public/components/event_analytics/explorer/query_assist/callouts.tsx
  public/components/event_analytics/explorer/query_assist/input.tsx
Labels: backport 2.x, backport 2.13

#1683 fix small issues within explorer search bar and sample query
  public/components/common/search/autocomplete.tsx
  public/components/common/search/direct_search.tsx
  public/components/common/search/search.tsx
  public/components/event_analytics/explorer/no_results.tsx
Labels: bug, backport 2.x

#1681 Add Flint queries for Apache Access integration
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/apache/assets/create_table-1.0.0.sql
Labels: enhancement, backport 2.x, integrations

#1692 HAProxy Flint Integration
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/haproxy-1.0.0.json
Labels: enhancement, backport 2.x, integrations

#1685 [Integrations] Add integration of WAF log
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
Labels: enhancement, backport 2.x, integrations

#1684 [Integrations] Add integration of S3 Access log
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/aws_s3-1.0.0.json
Labels: enhancement, backport 2.x, integrations

#1682 Improve on ELB integration assets
  server/adaptors/integrations/__data__/repository/aws_elb/assets/aws_elb-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/schemas/aws_elb-1.0.0.mapping.json
Labels: enhancement, backport 2.x, integrations

#1693 Update pattern for multiple mview suffixes
  public/components/datasources/components/manage/data_connection.tsx
  public/components/integrations/components/setup_integration.tsx
  server/adaptors/integrations/__data__/repository/apache/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/nginx/assets/create_mv-1.0.0.sql
Labels: enhancement, backport 2.x, integrations

#1687 Add CloudFront queries for integrations and integration table bug fix
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/aws_cloudfront-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/aws_cloudfront-1.0.0.json
  server/adaptors/integrations/__test__/manager.test.ts
  server/adaptors/integrations/integrations_manager.ts
Labels: enhancement, backport 2.x, integrations

#1704 Bugfix: Use workflows option in selection
  server/adaptors/integrations/integrations_builder.ts
Labels: bug, backport 2.x, integrations

#1701 update cloud trail integration with flint-s3 based DDL assets and das…
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/aws_cloudtrail-flint-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_mv_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_table_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/aws_cloudtrail-1.0.0.json
Labels: enhancement, backport 2.x, integrations, ux-integration

#1642 Add observability-search link rendering for integrations
  common/constants/integrations.ts
  public/components/integrations/components/__tests__/__snapshots__/added_integration.test.tsx.snap
  public/components/integrations/components/added_integration.tsx
Labels: enhancement, backport 2.x, integrations

#1708 update mv name to include double "_"
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_mv_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_mv_vpc-1.0.0.sql
Labels: bug, backport 2.x, integrations

#1705 Implement saved query substitution for S3 integrations
  docs/integrations/setup.md
  public/components/integrations/components/create_integration_helpers.ts
  public/components/integrations/components/setup_integration.tsx
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudfront/aws_cloudfront-1.0.0.json
  server/adaptors/integrations/__data__/repository/haproxy/haproxy-1.0.0.json
  server/adaptors/integrations/__test__/builder.test.ts
  server/adaptors/integrations/__test__/manager.test.ts
  server/adaptors/integrations/integrations_adaptor.ts
  server/adaptors/integrations/integrations_builder.ts
  server/adaptors/integrations/integrations_manager.ts
  server/routes/integrations/integrations_router.ts
Labels: enhancement, backport 2.x, integrations

#1713 More example queries for S3-based integrations
  public/components/integrations/components/added_integration.tsx
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_elb/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_s3/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_s3/aws_s3-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
  server/adaptors/integrations/__test__/local_fs_repository.test.ts
Labels: bug, enhancement, backport 2.x, integrations

#1716 Remove auto refresh option in create acceleration flyout
  common/constants/data_sources.ts
  common/types/data_connections.ts
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/__tests__/__snapshots__/create_acceleration.test.tsx.snap
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/__tests__/utils.test.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/create_acceleration.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/utils.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/selectors/__tests__/__snapshots__/index_setting_options.test.tsx.snap
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/selectors/__tests__/index_setting_options.test.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/selectors/index_setting_options.tsx
  test/accelerations.ts
Labels: bug, backport 2.x

#1691 update vpc flow with flint-s3 based DDL assets and dashboard
  opensearch_dashboards.json
  package.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/aws_vpc_flow_flint-live-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/aws_vpc_flow_flint-pre_agg-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_mv_vpc-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_table_parquet_vpc-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_30min_connections_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_30min_connections_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_60min_connections_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_60min_connections_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_all_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_week_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_week_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_cardinality_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_cardinality_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_total-bytes_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_total-bytes_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/Flint-Integration.md
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/README.md
Labels: integrations, ux-integration

#1717 [Integrations] Add default refresh interval for all the integrations and correct the version on `main`
  opensearch_dashboards.json
  package.json
  server/adaptors/integrations/__data__/repository/apache/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_mv_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/nginx/assets/create_mv-1.0.0.sql
Labels: enhancement, backport 2.x, integrations

#1721 [Manual Backport 2.x] update vpc flow with flint-s3 based DDL assets and dashboard
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/aws_vpc_flow_flint-live-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/aws_vpc_flow_flint-pre_agg-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_mv_vpc-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_table_parquet_vpc-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_30min_connections_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_30min_connections_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_60min_connections_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_60min_connections_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_all_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_week_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_week_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_cardinality_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_cardinality_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_total-bytes_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_total-bytes_refresh-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/Flint-Integration.md
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/info/README.md
Labels: enhancement, integrations

#1723 [Forward port] Set up a default refresh interval for VPC integration's MV
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_all_mv-1.0.0.sql
Labels: enhancement

#1726 [Integrations] Reformatting integration queries
  server/adaptors/integrations/__data__/repository/apache/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_table_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_table_vpc-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_agg_60min_connections_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_all_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_week_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_cardinality_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_window-agg_60min_dest_ip_total-bytes_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_table-1.0.0.sql
  server/adaptors/integrations/__data__/repository/nginx/assets/create_mv-1.0.0.sql
Labels: backport 2.x, integrations

#1725 update live mv table name
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/vpc_live_all_mv-1.0.0.sql
Labels: bug, backport 2.x, integrations

#1736 Enhance Explorer to use describe command
  common/constants/shared.ts
  public/components/common/query_utils/index.ts
  public/components/event_analytics/explorer/explorer.tsx
  public/services/data_fetchers/ppl/ppl_data_fetcher.ts
Labels: enhancement, backport 2.x

#1740 Enhance Explorer to use describe command (#1736)
  common/constants/shared.ts
  public/components/common/query_utils/index.ts
  public/components/event_analytics/explorer/explorer.tsx
  public/services/data_fetchers/ppl/ppl_data_fetcher.ts
Labels: enhancement

#1738 Refactor integrations setup for easier separation of different setup options
  public/components/integrations/components/__tests__/__snapshots__/setup_integration.test.tsx.snap
  public/components/integrations/components/__tests__/__snapshots__/setup_integration_inputs.test.tsx.snap
  public/components/integrations/components/__tests__/setup_integration.test.tsx
  public/components/integrations/components/__tests__/setup_integration_inputs.test.tsx
  public/components/integrations/components/create_integration_helpers.ts
  public/components/integrations/components/integration.tsx
  public/components/integrations/components/setup_integration.tsx
  public/components/integrations/components/setup_integration_inputs.tsx
Labels: integrations, ux-integration, maintenance

#1742 Add multi-checkpoint support to integrations
  public/components/integrations/components/setup_integration.tsx
Labels: enhancement, backport 2.x, integrations

#1744 add saved queries to vpc flow
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_vpc_flow/aws_vpc_flow-1.0.0.json
Labels: enhancement, backport 2.x, ux-integration

#1747 Add skipping indices for all integrations that have sample queries
  server/adaptors/integrations/__data__/repository/apache/apache-1.0.0.json
  server/adaptors/integrations/__data__/repository/apache/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudfront/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudfront/aws_cloudfront-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_elb/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_elb/aws_elb-1.0.0.json
  server/adaptors/integrations/__data__/repository/aws_s3/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_s3/aws_s3-1.0.0.json
  server/adaptors/integrations/__data__/repository/nginx/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/nginx/nginx-1.0.0.json
Labels: enhancement, backport 2.x, integrations

#1737 Cloud trails saved queries integration
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/aws_cloudtrail-1.0.0.json
Labels: enhancement, backport 2.x, ux-integration

#1750 [Integrations] Add skipping index and saved queries for WAF integration
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_skipping_index-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/example_queries-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/aws_waf/aws_waf-1.0.0.json
Labels: enhancement, backport 2.x, integrations

#1667 [Bug fix] Add conditional rendering for data connection page's tabs
  public/components/datasources/components/__tests__/__snapshots__/data_connection.test.tsx.snap
  public/components/datasources/components/__tests__/data_connection.test.tsx
  public/components/datasources/components/manage/data_connection.tsx
Labels: bug, backport 2.x, v2.14.0

#1757 fix prometheus response parsing issue
  public/components/custom_panels/helpers/utils.tsx
Labels: bug, enhancement, backport 2.x, v2.14.0

#1770 Fix OTEL Services integration
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_amp_network_metrics_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_apm_network_services-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_ingestion_rate_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_services_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/assets/otel_single_service_dashboard-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/otel-services/data/traces-samples.json
  server/adaptors/integrations/__data__/repository/otel-services/otel-services-1.0.0.json
  server/adaptors/integrations/__test__/json_repository.test.ts
  server/adaptors/integrations/repository/__test__/integration_reader.test.ts
  server/adaptors/integrations/repository/fs_data_adaptor.ts
Labels: bug, integrations

#1759 [Explorer] Data selector enhancement and refactoring adoptions
  common/constants/data_sources.ts
  common/constants/shared.ts
  public/components/event_analytics/explorer/datasources/datasources_selection.tsx
  public/components/event_analytics/explorer/log_explorer.tsx
  public/framework/datasources/obs_opensearch_datasource.ts
  public/framework/datasources/s3_datasource.ts
  public/plugin.tsx
Labels: enhancement, backport 2.x, v2.14.0

#1772 2.14 release notes
  release-notes/dashboards-observability.release-notes-2.14.0.0.md
Labels: backport main, maintenance

#1755 removed update button from explorer
  public/components/common/search/__tests__/__snapshots__/search.test.tsx.snap
  public/components/common/search/date_picker.tsx
Labels: bug, backport 2.x, v2.14.0, backport 2.14
