Repository opensearch-project/dashboards-observability, pull requests merged in 2025-02, with the labels that each got.

#2330 [Backport 2.19] Bump nanoid to 3.3.8 (#2328)
  package.json
  yarn.lock
Labels: maintenance

#2332 Cypress - Event Analytics flaky test fix
  .cypress/integration/event_analytics_test/event_analytics.spec.js
Labels: bug, backport 2.x

#2336 [Manual Backport 2.x] [Bug] Add loading status to all pages in traces and services pages
  .cypress/integration/app_analytics_test/app_analytics.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_dashboard.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_services.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_traces.spec.js
  public/components/application_analytics/__tests__/__snapshots__/create.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/flyout.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/service_config.test.tsx.snap
  public/components/application_analytics/__tests__/__snapshots__/trace_config.test.tsx.snap
  public/components/application_analytics/components/config_components/service_config.tsx
  public/components/application_analytics/components/flyout_components/service_detail_flyout.tsx
  public/components/trace_analytics/components/common/plots/error_rate_plt.tsx
  public/components/trace_analytics/components/common/plots/latency_trend_plt.tsx
  public/components/trace_analytics/components/common/plots/service_map.tsx
  public/components/trace_analytics/components/common/plots/throughput_plt.tsx
  public/components/trace_analytics/components/common/shared_components/custom_datagrid.tsx
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/dashboard.test.tsx.snap
  public/components/trace_analytics/components/dashboard/dashboard_content.tsx
  public/components/trace_analytics/components/dashboard/dashboard_table.tsx
  public/components/trace_analytics/components/dashboard/top_error_rates_table.tsx
  public/components/trace_analytics/components/dashboard/top_groups_page.tsx
  public/components/trace_analytics/components/dashboard/top_latency_table.tsx
  public/components/trace_analytics/components/services/__tests__/__snapshots__/service_view.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services.test.tsx.snap
  public/components/trace_analytics/components/services/service_metrics.tsx
  public/components/trace_analytics/components/services/service_view.tsx
  public/components/trace_analytics/components/services/services_content.tsx
  public/components/trace_analytics/components/services/services_table.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_flyout.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_panel.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_table.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/trace_view.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/span_detail_panel.test.tsx
  public/components/trace_analytics/components/traces/__tests__/span_detail_table.test.tsx
  public/components/trace_analytics/components/traces/service_breakdown_panel.tsx
  public/components/trace_analytics/components/traces/services_list.tsx
  public/components/trace_analytics/components/traces/span_detail_flyout.tsx
  public/components/trace_analytics/components/traces/span_detail_panel.tsx
  public/components/trace_analytics/components/traces/span_detail_table.tsx
  public/components/trace_analytics/components/traces/trace_view.tsx
  public/components/trace_analytics/components/traces/traces_content.tsx
  public/components/trace_analytics/index.scss
  public/components/trace_analytics/requests/services_request_handler.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
Labels: bug, traces, backport 2.19

#2333 Add MDS support for missing datasourceId in traceGroup requests
  public/components/trace_analytics/components/traces/span_detail_table.tsx
  public/components/trace_analytics/requests/dashboard_request_handler.ts
Labels: bug, backport 2.x, traces, backport 2.19

#2340 [Bug] Remove `only` from traces cypress spec
  .cypress/integration/trace_analytics_test/trace_analytics_traces.spec.js
Labels: bug, backport 2.x, traces

#2343 Adding release notes for 2.19.0
  release-notes/opensearch-observability.release-notes-2.19.0.0.md
Labels: backport 2.x, maintenance, backport 2.19

#2346 [Bug] Traces/Services remove toast message on empty data
  public/components/trace_analytics/requests/services_request_handler.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
Labels: bug, backport 2.x, backport 2.19

#2349 TraceView - Optimization of queries
  .cypress/integration/app_analytics_test/app_analytics.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_traces.spec.js
  public/components/application_analytics/__tests__/__snapshots__/flyout.test.tsx.snap
  public/components/application_analytics/components/flyout_components/trace_detail_render.tsx
  public/components/trace_analytics/components/common/constants.tsx
  public/components/trace_analytics/components/common/helper_functions.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/service_breakdown_panel.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_panel.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_table.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/trace_view.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/span_detail_panel.test.tsx
  public/components/trace_analytics/components/traces/__tests__/span_detail_table.test.tsx
  public/components/trace_analytics/components/traces/__tests__/trace_view_helpers.test.tsx
  public/components/trace_analytics/components/traces/service_breakdown_panel.tsx
  public/components/trace_analytics/components/traces/span_detail_panel.tsx
  public/components/trace_analytics/components/traces/span_detail_table.tsx
  public/components/trace_analytics/components/traces/trace_view.tsx
  public/components/trace_analytics/components/traces/trace_view_helpers.tsx
  public/components/trace_analytics/requests/queries/traces_queries.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
Labels: bug, backport 2.x, maintenance, traces

#2354 [Integration] Remove `maxFilesPerTrigger` from all the integrations queries
  public/components/getting_started/getting_started_artifacts/nginx/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/amazon_cloudfront/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/amazon_elb/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/amazon_s3/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/apache/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_mv_cloud-trail-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_cloudtrail/assets/create_mv_cloud-trail-records-1.0.0.sql
  server/adaptors/integrations/__data__/repository/aws_waf/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/haproxy/assets/create_mv-1.0.0.sql
  server/adaptors/integrations/__data__/repository/nginx/assets/create_mv-1.0.0.sql
Labels: enhancement, backport 2.x, integrations

#2353 Restore spans limit to 3000 in trace view
  public/components/application_analytics/__tests__/__snapshots__/flyout.test.tsx.snap
  public/components/application_analytics/components/flyout_components/trace_detail_render.tsx
  public/components/trace_analytics/components/common/constants.tsx
  public/components/trace_analytics/components/services/service_view.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/trace_view.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/span_detail_panel.test.tsx
  public/components/trace_analytics/components/traces/span_detail_panel.tsx
  public/components/trace_analytics/components/traces/span_detail_table.tsx
  public/components/trace_analytics/components/traces/trace_view.tsx
  public/components/trace_analytics/components/traces/trace_view_helpers.tsx
  public/components/trace_analytics/requests/queries/traces_queries.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
Labels: bug, backport 2.x, traces

#2357 [Backport 2.x] Restore spans limit to 3000 in trace view
  public/components/application_analytics/__tests__/__snapshots__/flyout.test.tsx.snap
  public/components/application_analytics/components/flyout_components/trace_detail_render.tsx
  public/components/trace_analytics/components/common/constants.tsx
  public/components/trace_analytics/components/services/service_view.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/trace_view.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/span_detail_panel.test.tsx
  public/components/trace_analytics/components/traces/span_detail_panel.tsx
  public/components/trace_analytics/components/traces/span_detail_table.tsx
  public/components/trace_analytics/components/traces/trace_view.tsx
  public/components/trace_analytics/components/traces/trace_view_helpers.tsx
  public/components/trace_analytics/requests/queries/traces_queries.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
Labels: bug, traces

#2351 [BUG] Updated cache for the sub tree in Workbench
  common/types/explorer.ts
  public/components/datasources/components/__tests__/acceleration_details_flyout.test.tsx
  public/components/datasources/components/manage/accelerations/acceleration_details_flyout.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/create_acceleration.tsx
  public/components/datasources/components/manage/accelerations/create_accelerations_flyout/create/create_acceleration_button.tsx
  public/framework/catalog_cache/cache_loader.tsx
  public/framework/catalog_cache/cache_manager.ts
  public/services/requests/dsl.ts
Labels: bug, v2.20.0

#2364 Bump dashboards observability to version 3.0.0.0-alpha1
  .github/workflows/dashboards-observability-test-and-build-workflow.yml
  .github/workflows/ftr-e2e-dashboards-observability-test.yml
  .github/workflows/integration-tests-workflow.yml
  .github/workflows/verify-binary-install.yml
  opensearch_dashboards.json
  package.json
Labels: maintenance
