Repository opensearch-project/dashboards-observability, pull requests merged in 2025-06, with the labels that each got.

#2451 Workflows - Version bump to 3.1.0
  .github/workflows/dashboards-observability-test-and-build-workflow.yml
  .github/workflows/ftr-e2e-dashboards-observability-test.yml
  .github/workflows/integration-tests-workflow.yml
  .github/workflows/verify-binary-install.yml
Labels: maintenance

#2457 [Traces] Merge custom source and data prepper mode in trace analytics
  .cypress/integration/trace_analytics_test/trace_analytics_dashboard.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_services.spec.js
  .cypress/integration/trace_analytics_test/trace_analytics_traces.spec.js
  .cypress/utils/constants.js
  common/types/trace_analytics.ts
  public/components/trace_analytics/components/common/__tests__/__snapshots__/helper_functions.test.tsx.snap
  public/components/trace_analytics/components/common/__tests__/helper_functions.test.tsx
  public/components/trace_analytics/components/common/__tests__/redirection_helpers.test.tsx
  public/components/trace_analytics/components/common/filters/filter_helpers.tsx
  public/components/trace_analytics/components/common/helper_functions.tsx
  public/components/trace_analytics/components/common/redirection_helpers.tsx
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/dashboard.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/__snapshots__/mode_picker.test.tsx.snap
  public/components/trace_analytics/components/dashboard/__tests__/dashboard.test.tsx
  public/components/trace_analytics/components/dashboard/dashboard_content.tsx
  public/components/trace_analytics/components/dashboard/mode_picker.tsx
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/__snapshots__/services_table.test.tsx.snap
  public/components/trace_analytics/components/services/__tests__/services.test.tsx
  public/components/trace_analytics/components/services/__tests__/services_table.test.tsx
  public/components/trace_analytics/components/services/service_view.tsx
  public/components/trace_analytics/components/services/services_content.tsx
  public/components/trace_analytics/components/services/services_table.tsx
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/span_detail_table.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/traces.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/__snapshots__/traces_table.test.tsx.snap
  public/components/trace_analytics/components/traces/__tests__/traces.test.tsx
  public/components/trace_analytics/components/traces/__tests__/traces_table.test.tsx
  public/components/trace_analytics/components/traces/span_detail_flyout.tsx
  public/components/trace_analytics/components/traces/trace_table_helpers.tsx
  public/components/trace_analytics/components/traces/trace_view.tsx
  public/components/trace_analytics/components/traces/traces_content.tsx
  public/components/trace_analytics/components/traces/traces_custom_indices_table.tsx
  public/components/trace_analytics/components/traces/traces_table.tsx
  public/components/trace_analytics/home.tsx
  public/components/trace_analytics/requests/queries/dashboard_queries.ts
  public/components/trace_analytics/requests/traces_request_handler.ts
  server/plugin_helper/register_settings.ts
Labels: enhancement, traces, v3.1.0

#2452 [Integration] NFW Integration Vega Vis Warning Msg Fix
  server/adaptors/integrations/__data__/repository/amazon_networkfirewall/assets/amazon_networkfirewall-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/amazon_networkfirewall/assets/amazon_networkfirewall_aggregated-1.0.0.ndjson
  server/adaptors/integrations/__data__/repository/amazon_networkfirewall/assets/create_mv_aggregated-1.0.0.sql
Labels: enhancement, integrations, v3.1.0
